@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family:'Open Sans', Times, serif;

    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 200px;;
    margin-right: 250px;
}

h3 {
    font-weight: 400;
}

.header-logo {
    align-items: center;
    font-size: 24px;
    
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;

    margin: 0;
    padding: 0;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.main-body {
    background-color: #A6C48A;
    margin: 0;
}

main {
    display: flex;
    padding-bottom: 60px;
}

.text {
    margin-left: 225px;
    margin-top: 175px;

}

.main-text {
    margin: 0;
    margin-bottom: 5px;

    font-size: 48px;

}

.description {
    margin: 0;

    font-size: 18px;

}

img {
    height: 300px;
    width: auto;
    margin-top: 140px;
    margin-left: 50px;
    
}

button {
    padding: 5px 30px;
    margin-top: 15px; 

    background-color: antiquewhite;
    font-weight: 400;

    border-radius: 2px;
}

