@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family:'Open Sans', Times, serif;

    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 200px;;
    margin-right: 250px;
}

h3 {
    font-weight: 400;
}

.header-logo {
    align-items: center;
    font-size: 24px;
    
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;

    margin: 0;
    padding: 0;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.main-body {
    background-color: #A6C48A;
    margin: 0;
}

main {
    display: flex;
    padding-bottom: 65px;
}

.text {
    margin-left: 225px;
    margin-top: 175px;

}

.main-text {
    margin: 0;
    margin-bottom: 5px;

    font-size: 48px;

}

.description {
    margin: 0;

    font-size: 18px;

}

img {
    height: 300px;
    width: auto;
    margin-top: 140px;
    margin-left: 50px;
    
}

button {
    padding: 5px 105px;
    margin-top: 15px; 

    background-color: #A6C48A;
    font-weight: 600;

    border-color: black;
    border-radius: 2px;
    border-style: groove;

}

.some-information h4 {
    font-size: 36px;
    font-weight: 600;
    
    display: flex;
    justify-content: center;

}

.learn-photos {
    display: flex;
    justify-content: center;
    gap: 70px;

    padding-bottom: 150px;
    padding-top: 50px

}

.learn-photos img {


    width: 175px;
    height: 175px;

    margin: 0px;
    display: flex;
}

.learn-photos p {
    display: flex;
    justify-content: center;;

    font-weight: 600;
}

.quote-part {
    background-color: #030301;
    padding: 100px;

}

.quote-part p {
    color: white;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;

    display: flex;
    justify-content: center;
}

.circle {
    display: inline;
    color: white;

    border: 1px solid white;
    border-radius: 4px;
    padding: 10px 30px;

    margin-left: 1050px;
}

footer {
    background-color: #030301;
}

footer p {
    font-size: 14px;
    font-weight: 300;

    margin: 0;
    padding-bottom: 20px;
    
    color: white;
    display: flex;
    justify-content: center;
    
}

a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

.text button:hover{
    background-color: black;
    color: white;
}

.circle:hover {
    background-color: white;
    color: black;
}

